
@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Inder&family=Jockey+One&family=Koulen&display=swap');

.ContentHolder{
    display:grid;
    grid-template-rows:0.9fr 0.9fr 1.5fr;
    height:100vh;
}
.ProjectorCondition{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-row: 1/3;
    grid-column: 1/2;
    margin:15px;
    border-radius:20px;
    color:white;
    position: relative;
    background-color:#1A1E32;
    z-index:1;
}
.StaffOperations{
    grid-row: 1/3;
    grid-column: 2/5;
    background-color:#B0D8EC;
    border-radius:20px;
    margin:15px;
    z-index:1;
}
.Classrooms{
    grid-row: 2.5/3;
    grid-column:1/5;
    background-color:#D6CAB4;
    z-index:1;
    border-radius:20px;
    margin:15px;
    margin-bottom:20px;
}
.ID ,.Name{
    align-self: flex-end;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;  
    font-size:1.2em;
    margin:10px;
}
.Status{
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:5.5em;
    color:#00B066;
    margin:0px;
    margin-bottom:0px;
    padding:0px;
}
.StatusBanner{
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: flex-start;
    margin-left:15px;

    font-size:1.5em;
  
}

/*StaffContent*/
.StaffOperations{
    display:flex;
    flex-direction:column;
}
.DayList{
    float: right;
    margin:20px;
    margin-bottom:0px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    padding:5px;
    font-style: normal; 
    font-size:0.9em;
    border:none;
    outline:none;
    color:white;
    background-color:black;
    border-radius:5px;
}

.StaffList{
    font-family: "Inder", sans-serif;
    font-weight: 400;
    padding:5px;
    margin:0px 20px 5px 20px;
    font-style: normal; 
    font-size:0.9em;
    border:none;
    outline:none;
    border-radius:5px;
}
.ListofClass{
    font-family: "Inder", sans-serif;
    font-weight: 400;
    padding:5px;
    width:80%;
    font-style: normal; 
    font-size:0.9em;
    padding:10px;
    margin:10px;
    background-color:white;
    border-radius:20px;
}
.AccessedClassList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-height: 400px; 
    overflow-y: auto;  
    overflow-x: hidden;
  }
.ListofClass{
    margin:15px;
}
.classNames{
    align-self: flex-start;
    margin-left:10px;
}
.Time{
    float: right;
    margin-right:10px;
}
.Time img{
   padding-right:10px;
   position: relative;
   top:5px;
}
.AccessedClassList::-webkit-scrollbar {
    width: 0;              
    background: transparent; 
  }


  /*Classroom Downbar*/
  .bookimg{
    height:40px;
    width:40px;
    background-color:#FF6E30;
    padding:8px;
    border-radius:15px;
    position: relative;
    top:-30px;
  }
  .Classrooms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .classContainer{
    position: relative;
    left:-90px;
    display: flex;
    flex-direction:row;
  }

  .Classes{
    margin:30px;
    background-color:white;
    padding:0px 70px 10px 20px;
    padding-top:0px;
    border-radius:20px;
    position: relative;
 
  }

  .Type, .No{
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .Type{
    font-size:1.3em;
  }
  .No{
    position: relative;
   
    font-size:2.3em;
  }
  .Sampletext{
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
    

    padding:0px;
    margin:0px;
    font-size:1.7em;
    transform: rotate(-90deg);
  }
  .SampleQuote{
    font-family: "inder", sans-serif;
    font-weight: 400;
    left:-50px;
    font-style: normal;
    position: relative;
    text-align: center;
   
    margin:0px;
    font-size:1.2em;
    padding:0px;
    transform: rotate(-90deg);
  }
  .classContainer::-webkit-scrollbar {
        width:0;              
        background: transparent; 
      
  }
