@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Jockey+One&family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
.UserImg{
    height:125px;
    width:125px;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
}
#Name{
    text-align:center;
    position: relative;
    margin:0px;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    /*margin-left:5px;*/
        
}
#Container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    top:0%;
}
#Role{
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    top:-5px;
    margin:0px;
}
.LoginButton-1{
    height:30px;
    width:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    }